body {
    margin: 0;
    padding: 0;
    background-color: #090909;
    font-family: 'Lato', sans-serif;
    color: #e6c67a;
    text-align: center;
}

.header {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #e6c67a;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #e6c67a;
}

.back-to-home {
    padding: 10px 20px;
    color: #e6c67a;
    border: 2px solid #e6c67a;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.back-to-home:hover {
    background-color: #e6c67a;
    color: #111;
}

.payment-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 0 20px rgba(230, 198, 122, 0.5);
}

.qr-container {
    margin: 20px 0;
}

.qr-code {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(230, 198, 122, 0.6);
}

.payment-instructions {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
    color: #e6c67a;
}

.buy-now {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #111;
    background-color: #e6c67a;
    border: 2px solid #e6c67a;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.buy-now:hover {
    background-color: #b38f4d; /* Darker gold on hover */
    color: #111;
}

.terms {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(230, 198, 122, 0.8);
}

.terms h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #e6c67a;
}

.terms p {
    font-size: 16px;
    line-height: 1.6;
    color: #e6c67a;
}

.cut-text {
    color: #b38f4d;
    text-decoration: line-through;
    text-decoration-color: #e6c67a;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: auto;
}